{% extends "votaciones/base/index.html" %}

{% block css %}
    <link href="/templates/votaciones/home/style.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock css %}

{% block parametros_body %}{% endblock %}  

{% block contenido %}
        {% if estado == '0' %}
            <div id="left">
                <h1>Votaciones <br> cerradas</h1>
            </div>
        {% elif estado == '1' %}
            <div id="left"
                 onclick="window.location = 'votaciones';"
                 >
                <h1>Nominaciones</h1>
                <label>Debes haber iniciado sesión</label>
            </div>
        {% elif estado == '2' %}
            <div id="left">
                <h1>Nominaciones cerradas</h1>
            </div>
        {% else %}
            <div id="left"
                 onclick="window.location = 'votaciones';"
                 >
                <h1>Votaciones</h1>
                <label>Debes haber iniciado sesión</label>
            </div>
        {% endif %}
        
        <div id="center"
             onclick="window.location = 'informacion';"
             >
            <h1>Información <br>del evento</h1>
        </div>
        
{% endblock contenido %}
