{% extends "votaciones/base/index.html" %}

{% block css %}
    <link href="/templates/votaciones/filtrando/style.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock css %}

{% block contenido %}

<div class="ayuda">
    Actualmente nos encontramos filtrando nominaciones y haciendo mantenimiento
    a la pagina, pronto estará lista para el proceso de votaciones, mantente
    alerta por Facebook y Twitter.
    <div id="icono_ayuda"></div>
</div>

<div id="cont">
    <img alt=""  src="/templates/votaciones/media/mantenimiento.png" />
</div>


{% endblock contenido %}
