/* Area de login */
#contenedor_signup {
    width      : 550px;
    margin     : 20px 0px;
    text-align : left;
    float      : left;
}

#contenedor_signup input {
    width: 450px;
    display: inline;
}

#contenedor_signup #boton_checkbox input {
    width: auto;
}

#contenedor_login {
    width      : 250px;
    margin     : 20px 60px;
    float      : right;
}

#contenedor_signup #boton_iniciar input {
    width: auto;
}