{% extends "votaciones/base/index.html" %}

{% block css %}
    <link href="/templates/votaciones/informacion/style.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock css %}

{% block parametros_body %}{% endblock %}

{% block contenido %}

<div id="informacion" class="contenedor">
    <h1>El Compushow</h1>
    <p>
        El COMPUSHOW es un evento realizado anualmente por el Centro de
        Estudiantes de Ingeniería de la Computación de la Universidad
        Simón Bolívar.
    </p>
    <p>
        Organizado para el miércoles de semana 10 del trimestre Enero-Marzo,
        siendo la misma la Semana de Ingeniería de la Computación de nuestra
        casa de estudio, el COMPUSHOW consta de una serie de actividades de
        índole recreativo que refleja de forma irónica y humorística la vida
        y las ideas del estudiante de la carrera mencionada en el día a día.
        Con premiaciones, eventos en vivo, reproducción de videos diseñados
        por los mismos estudiantes y muchos otros entretenimientos,
        el COMPUSHOW se ha convertido en tradición y orgullo para los
        computistas uesebistas.
    </p>
    <p>
        Cada año se elige un tema nuevo en el que se basa todo el evento; sea de
        películas, dibujos animados, premiaciones al estilo de Hollywood, etc,
        La idea es sumergir al espectador en un ambiente agradable y diferente
        al habitual universitario, invitándole a olvidar toda preocupación
        académica y a que disfrute de los pequeños detalles del estilo de vida
        al que está acostumbrado el computista.
    </p>
    <p>
        El COMPUSHOW es totalmente organizado por estudiantes, por lo que no es
        de extrañar que encontremos a nuestros compañeros de clases, y hasta
        profesores, presentado nominaciones, ganadores, videos, animando el show
        y mucho más. Este 2012, seas nuevo ingreso o de más experiencia, no
        pierdas la oportunidad de vivir una tarde diferente y divertida, con la
        promesa de que no te arrepentirás de dedicar algunas horas de tu tiempo
        exclusivamente al ocio y el entretenimiento, sin siquiera salir de la
        universidad.
    </p>
    <label id="fin">Te Esperamos.</label>
</div>

<div id="imagenes" class="contenedor">
    <div class="media">
        <img src="/templates/votaciones/media/informacion/img1.png" width="256">
    </div>
    <div class="media">
        <img src="/templates/votaciones/media/informacion/img2.png" width="256">
    </div>

    <div class="media">
        <img src="/templates/votaciones/media/informacion/img3.png" width="256">
    </div>
    <div class="media">
        <img src="/templates/votaciones/media/informacion/img4.png" width="256">
    </div>
    <div class="media">
        <img src="/templates/votaciones/media/informacion/img5.png" width="256">
    </div>
    <div class="media">
        <img src="/templates/votaciones/media/informacion/img6.png" width="256">
    </div><div class="media">
        <img src="/templates/votaciones/media/informacion/img7.png" width="256">
    </div>

</div>

    

	
{% endblock contenido %}
