{% extends "votaciones/base/index.html" %}

{% block css %}
    <link href="/templates/votaciones/informacion/style.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock css %}

{% block parametros_body %}{% endblock %}

{% block contenido %}

<div id="informacion" class="contenedor">
    <h1>El CompuShow</h1>

    <center><img src="/templates/votaciones/media/LogoOficial.png" alt="" width="240"></center>

    <p align="justify">El COMPUSHOW es un evento realizado anualmente por el Centro de Estudiantes de Ingeniería de la Computación de la Universidad Simón Bolívar.</p>

    <p align="justify">Consta de una serie de actividades recreativas que reflejan de forma irónica y humorística el día a día del estudiante de computación.</p>

    <p align="justify">Con premiaciones, eventos en vivo, reproducción de videos diseñados por los mismos estudiantes y muchos otros entretenimientos, el COMPUSHOW se ha convertido en tradición y orgullo para los computistas uesebistas.</p>

    <p align="justify">En este 2014, sabiendo todo el estrés y la incertidumbre que vivimos actualmente en el país, queremos brindar un espacio a los estudiantes de computación para que puedan vivir una tarde diferente y divertida, sin dejar de lado las protestas y la lucha por un país mejor.</p>
    <p></p>
    <center>¡TE ESPERAMOS!</center>
    <br></br>
    <center>Junta Directiva del Centro de Estudiantes de Ingeniería de la Computación 2013-2014</center>
</div>

<div id="imagenes" class="contenedor">
    <h1>Ediciones anteriores</h1>

    <div class="meter carrot"><span style="width: 100%"><span>2011</span></span></div>
    <iframe width="256" height="181" src="http://www.youtube.com/embed/NJBozdf2vrk" frameborder="0" allowfullscreen></iframe>
    <p></p>

    <center><div class="meter wisteria"><span style="width: 100%"><span>2012</span></span></div></center>
    <iframe width="256" height="181" src="http://www.youtube.com/embed/BZ13fxJoJKM" frameborder="0" allowfullscreen></iframe>
    <p></p>

    <center><div class="meter emerald"><span style="width: 100%"><span>2013</span></span></div></center>
    <iframe width="256" height="181" src="http://www.youtube.com/embed/B_-aWuVL534" frameborder="0" allowfullscreen></iframe>
    <p></p>
     
    <a href="https://www.youtube.com/results?search_query=compushow+usb" target="_blank"><input type="button" name="boton" value="Ver más"/></a>

</div>

    

	
{% endblock contenido %}
