#informacion {
    display: inline-block;
    width  : 600px;
    margin-left   : 35px;
    margin-right  : 10px;
    vertical-align: top;
}

#imagenes {
    display   : inline-block;
    width     : 300px;
    text-align: center;
}

.media {
    padding: 10px 0px 10px 0px;
    margin : 10px 0px 10px 0px;
    border-radius: 8px;
    background-color: black;
}

p{
    border-radius: 5px;
    background-color: black;
    padding: 7px;
}

#fin {
    display: table;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 10px auto 10px auto;
}